<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 login</title>
    </head>
    
     
    
    <body>
         <img src="assets/logo.jpg" alt = "logo" style= "width: 100px; height: 1-0px; margin-left: 1200px;"></img>
        <div id="welcome_page_container">
            <div id="about">
              
               <div class="feature_img_container">
                <img src="assets/zach.jpg" alt = "zach" style= "width: 850px; height: 500px;;"></img>
                <p class="bottomleft">We are a room reservation application that makes life eaiser.</p>
              </div>
              
            </div>
            <div id="login_form_container" width="50%">
              <center>
                <h2>Login to your account</h2>
                <form accept-charset="UTF-8" action="/login" method="post">
                  <input name="utf8" type="hidden" value="&#x2713;" />
                  <input name="authenticity_token" type="hidden"
                         value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo=" />
                  <label for="session_email">Email</label>
                  <input class="form-control" id="session_email"
                         name="session[email]" type="text" />
                  <label for="session_password">Password</label>
                  <input id="session_password" name="session[password]"
                         type="password" />
                  <input class="btn btn-primary" name="commit" type="submit"
                       value="Log in" />
                </form>
                <!-- <%= link_to "New User? Create Account", user_path %> -->
              </center>
            </div>
        </div>
    </body>
    <body>
    <div class="container">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
