<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 browsing search</title>
    </head>
    
    <body>
      <%= render './layouts/nav.html.erb' %>
      <main>
        <fieldset>
          <legend>Rooms in Bright</legend>
          <div class="room_container">
            <% Room.where(:building_name => "HRBB").find_each do |room| %>
              <div class="room_cell">
                <%= link_to room.room_id, room_path(room), :class => "room_cell" %>
              </div>
          
            <% end %>
            </div>
          <%= link_to 'Back', :back, :class => "btn" %>
        </fieldset>
      </main>
    </body>
</html>
