<h1>Users</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>User Type</th>
    <th></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.password %></td>
      <td><%= user.usertype %></td>
    </tr>
  <% end %>
</table>
