<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="../lib/style.css">
        <link rel="stylesheet" type="text/css" href="../lib/home.css">
        
        <title>R^2</title>
    </head>
    
    <body>
        <header>
            <img src="../assets/logo.jpg" width="180" alt="R^2 logo">
        </header>
        
        <nav>
            <a href="home.html">Home</a>
        </nav>
        
        <main>
            <center>
                <table class="bod" width= 90%>
                
                  <tr>
                    <td rowspan= 2 class="bor" height="90%">MY RESERVATION</td>
                    <td class= "bor" height="45%">CAMPUS</td>
                  </tr>
                  <tr>
                    <td class= "bor" height="45%">MORE INFORMATION</td>
                  </tr>
                  
                </table>
            </center>
        </main>
    </body>
</html>