<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 login</title>
    </head>
        
    <body>
        <header>
            <%= image_tag("logo.jpg", :alt => "logo") %>
            
        </header>
        
        <table width="90%">
            <tr>
                <td>
                    <div class="about">
                        <h1>ABOUT R-Squared</h1>
                        <p>We are a room reservation application that makes life eaiser.</p>
                    </div>
                </td>

                <td>
                    <div class="log-form">
                    <center>
                    <h2>Login to your account</h2>
                    <form>
                        <br><%= link_to "Login", "/login" %>
                    </form>
                    </center>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>
