#search_area {
    width: 450px;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid #5a0a25;
}

legend {
    color: #5a0a25;
    font-size: 1.5rem;
}

label {
    display: inline-block;
    margin: 16px 6px;
    white-space:normal;
}

.radio_label {
}

input[type="checkbox"] {
    margin-left: 20px;
}

.radio_button {
    
}
.radio_container {
    display: flex;
    align-items: center;
    align-content: center;
}


.heading {
    color: #5a0a25;
    font-size: 1.3rem;
    margin-top: 30px;
}

