fieldset {
    width: 450px;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid #5a0a25;
}

legend {
    color: #5a0a25;
    font-size: 1.5rem;
}

label {
    display: inline-block;
    margin: 10px 5px;
}

input[type="checkbox"] {
    margin-left: 20px;
}

.heading {
    color: #5a0a25;
    font-size: 1.3rem;
    margin-top: 30px;
}

