// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body>h2 {
  margin: 16px;
}
table {
  max-width: 100%;
  padding: 24px;
  table-layout: fixed;
}

tr:hover {
  background-color: #f5f5f5;
  border-radius: 16px;
  
}

th {
  height: 24px;    
  text-align: center;
  border-bottom: 1px solid #ddd;
}

td {
  text-align: center;
  padding: 16px;
}

div.hidden { display: none; }
