// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

body>h2 {
  margin: 16px;
}
table {
  max-width: 100%;
  padding: 24px;
  table-layout: fixed;
  overflow-y: auto;
}

tr:hover {
  background-color: #f5f5f5;
  border-radius: 16px;
  
}

th {
  height: 24px;    
  text-align: center;
  border-bottom: 1px solid #ddd;
}

td {
  text-align: center;
  padding: 16px;
}

div.hidden { display: none; }



#booking_reason{
  max-width: 50%;
}

#myCheck{
  width: 20px;
}

#tableID{

  height:1000px;
  overflow-y:auto;
}

#private{
  display: inline-block;

}
#reason{
  display: inlIDine-block;
  width: 70%;
  
}
.submit{
  max-width: 70%;
  margin-left: 16%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}