// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: 1c3738;
    background: #ffffff;
    padding:0;
    margin:0;
}

header {
    background-color: #5a0a25;
    text-align:center;
}

nav {
    background: #5a0a25;
    font-size: 1.3rem;
    margin: 0 auto;
    text-align: center;
}

nav>a {
    display: inline-block;
    padding: 0.5%;
    color: #ffffff;
    text-decoration: none;
}

nav>a:hover {
    background: #ffffff;
    color: #5a0a25;
}

img {
    width: 180px;
}

.log-form{
    margin-top: 30px;
}

.bor{
    border: 1px solid black;
    width: 50%; 
}

.btn {
    display: block;
    margin: 30px auto;
}

