html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #1c3738;
    background: #ffffff;
    padding:0;
    margin:0;
}

header {
    background-color: #5a0a25;
    text-align:center;
}

nav {
    background: #5a0a25;
    font-size: 1.3rem;
    margin: 0 auto;
    text-align: center;
}

nav>a {
    display: inline-block;
    padding: 0.5%;
    color: #ffffff;
    text-decoration: none;
}

nav>a:hover {
    background: #ffffff;
    color: #5a0a25;
}