<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 browsing search</title>
    </head>
    
    <body>
        <%= render './layouts/nav.html.erb' %>
        <main>
            
            <fieldset>
            <legend>Browsing Search</legend>

            <button class="btn" title="HRBB"><%= link_to "HRBB", bright_path %></button>
            <center>Computer Science/Engineering Buildings</center>
            <button class="btn" title="RDMC"><%= link_to "RDMC", rdmc_path %></button>
            <center>                                  </center>
            <button class="btn" title="All Rooms"><%= link_to "All Rooms", rooms_path %></button>

            </fieldset>
           
        </main>
    </body>
</html>
