<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 browsing search</title>
    </head>
    
    <body>
        <%= render './layouts/nav.html.erb' %>
        <main>
            
            <fieldset>
            <legend>Browsing Search</legend>
             <%=link_to'<button class = "btn" title = "HRBB" type = "button"> HRBB </button> '.html_safe, bright_path%> 
           
            <center>Computer Science/Engineering Buildings</center>
            <%=link_to'<button class = "btn" title = "RDMC" type = "button"> RDMC </button> '.html_safe, rdmc_path%> 
            <center>                                  </center>
            <%=link_to'<button class = "btn" title = "All Rooms" type = "button"> All Rooms </button> '.html_safe, rooms_path%> 
           
            </fieldset>
           
        </main>
    </body>
</html>
