   <html>
      <center>
         <div>
              <%= link_to "List View", home_path, :class => "footer_btn" %>
              <%= link_to "Calendar View", calendar_path, :class => "footer_btn" %>
         </div>
      </center>
    </html>
        
           