<html>
  <nav>
      <%= link_to "Home", home_path %>
      <%= link_to "Advanced Search", advancedsearch_path %>
      <%= link_to "Browsing Search", browsingsearch_path %>
      <%= link_to "Log out", logout_path, method: :delete %>
  </nav>
</html>